/* 
* ----- GLOBAL -------------------------------------------
*/
* {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 100%;
    outline: 0;
    vertical-align: baseline;    
}
:root {
    --main-black: #22181C;
    --main-grey: #8A8CA5;
    --light-gray: #E7E7E8;
    --main-red: #FF5A5F;
    --main-green: #087E8B;
}
html {
    font-family: 'Inter', sans-serif;
}

html,body {
    width: 100%;
    height: 100%;
}


h1 {
    font-size: 50px;
    font-weight: 900;
    color: white;
}
h2 {
    font-size: 22px;
    font-weight: 500;
    color: var(--main-green);
}
p{
    font-size: 17px;
    color: var(--main-grey);
}
a {
    font-size: 17px;
    color: var(--main-grey);
    text-decoration: none;
}

.white {
    color: white;
}

/* 
* ----- NAV -------------------------------------------
*/
.nav-main {
    position: fixed;
    line-height: 60px;
    background-color:white;
    width: 100%;
    opacity: 90%;
    height: 60px;
    top: 0px;
    z-index: 1;
    -webkit-box-shadow: 5px 5px 15px 4px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 5px 15px 4px rgba(0,0,0,0.2);
    box-shadow: 5px 5px 15px 4px rgba(0,0,0,0.2);
        
}
nav a {
    position: relative;
    font-weight: 500;
    color: var(--main-green);
}

.contact {
    color: var(--main-red);
}
.nav-left {
    position: fixed;
    left: 5%;
}
.nav-right {
    position: fixed;
    right:5%;
    list-style-type: none;
}

li {
    float: left;
    padding-left: 25px;
}

li a > img {
    vertical-align:  text-bottom;
    padding-left: 5px;
}

.filter-green {
    filter: invert(25%) sepia(96%) saturate(1855%) hue-rotate(165deg) brightness(93%) contrast(94%);
}

.filter-red {
    filter: invert(38%) sepia(38%) saturate(3312%) hue-rotate(332deg) brightness(130%) contrast(113%);
}
.rec {
    background-color: white;
    display: inline-block;
    width: 7px;
    height: 14;
    margin-right: 3px;
}

/* 
* ----- CONTENT -------------------------------------------
*/

.wrapper-content {
    width:  100%;
    height: 80%;
    margin: 0 auto;
}
.spacer {
    height: 3%;
    margin-top: 60px;
}
.title-row {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
}

.title-block {
    background-color: var(--main-green);
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 120px;
    text-align: center; 
}
.title-block h1 {
    line-height: 120px;
}


.line {
    flex: 1;
    height: 3px;
    margin-top: 55px;
    margin-left: 10%;
    margin-right: 2.5%;
    background-color: var(--main-red);
    opacity: 90%;
}
.line-right {
    flex: 1;
    height: 3px;
    margin-top: 55px;
    margin-left: 2.5%;
    margin-right: 10%;
    background-color: var(--main-red);
    opacity: 90%;
}

.top {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    text-align: left;
    width: 600px;
}


.top p{
    font-size: 20px;
    max-width: 750px;
    margin-top: 30px;
}


.top-list li{
    margin-top: 15px;
    font-size: 20px;
    color: var(--main-grey);
    line-height: 1.5;
}
.bottom {
    width: 100%;
    padding-top: 45px;
    display: flex;
    flex-direction: row;
}
.flex-spacer {
    flex: 2;
}
.flex-spacer-mid {
    flex: 1;
}
.skills-box {
    background-color: white;
    margin: 30px 0;
    text-align: center;
    width: 360px;
    height: 120px;
    line-height: 120px;
    margin-bottom: 50px;
    -webkit-box-shadow: 8px 8px 18px 3px rgba(0,0,0,0.18);
    -moz-box-shadow: 8px 8px 18px 3px rgba(0,0,0,0.18);
    box-shadow: 8px 8px 18px 3px rgba(0,0,0,0.18);
} 

/*
* ----- BACKGROUND LINES -------------------------------------------
*/
.detail-lines {
    left: 0px;
    width: 100%;
    height: auto;
    background-color: blue;
}
.lines {
    display: block;
    width: 1px;
    height: 100vh;
    background-color: var(--light-gray);
    position: fixed;
    top: 0;
    left:50%;
    transform: translate(-50%);
    -webkit-transform: translateX(-50%);
    z-index: -2;

}
.center-line {
    transform: translateX(00px);
    -webkit-transform: translateX(00px);
}
.right-line-1 {
    transform: translateX(300px);
    -webkit-transform: translateX(300px);
}
.right-line-2 {
    transform: translateX(600px);
    -webkit-transform: translateX(600px);
}
.right-line-3 {
    transform: translateX(900px);
    -webkit-transform: translateX(900px);
}
.right-line-4 {
    transform: translateX(1200px);
    -webkit-transform: translateX(1200px);
}
.right-line-5 {
    transform: translateX(1500px);
    -webkit-transform: translateX(1500px);
}
.left-line-1{
    transform: translateX(-300px);
    -webkit-transform: translateX(-300px);
}
.left-line-2 {
    transform: translateX(-600px);
    -webkit-transform: translateX(-600px);
}
.left-line-3 {
    transform: translateX(-900px);
    -webkit-transform: translateX(-900px);
}
.left-line-4 {
    transform: translateX(-1200px);
    -webkit-transform: translateX(-1200px);
}
.left-line-5 {
    transform: translateX(-1500px);
    -webkit-transform: translateX(-1500px);
}

/* 
* ----- FOOTER -------------------------------------------
*/

footer {
    position: fixed;
    bottom: 50px;
    right: 5%;
}
.footer-left {
    position: fixed;
    left: 5%;
}

.footer-left > a {
    margin-right: 30px;
    font-weight: 500;
    color: var(--main-black);
    font-weight: 500;
    opacity: 75%;
}

.footer-right {
   right:5%
}

footer > p {
    font-weight: 500;
    opacity: 75%;
    color: var(--main-black);
    font-weight: 500;
}