/* 
*------ CONTENT ----------------------------------------------------
 */

h2 {
    font-size: 45px;
    font-weight: 700;
}

 .section-1 {
    flex: 2;
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}


.block {
    height:250px ;
    width: 30%;
    background-color: var(--main-green);
    display: flex;
    align-items: center;
    position: fixed;
    text-align: center;
    bottom: 30%;
    left: 0px;
    min-width: 400px;
    z-index: -1;
}

.block h2{
    position: relative;
    color: white;
    margin-left: auto;
    margin-right: auto;

}
.right-1 {
    margin-left: 15%;
    width: 100%;
    text-align: left;
    
}

.right-1-header {
    padding-bottom: 40px ;
    width: 100%;
    display: flex;
    flex-direction: row;
    
}

.line {
    height:3px;
    background-color: var(--main-red);
    flex: 1 ;
    margin-top: 60px;

}

.right-1-header h2 {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 5px;
    color: var(--main-black)
    
}

.line-long {
    height:3px;
    background-color: var(--main-red);
    flex: 9 ;
    margin-top: 60px;
}



.skills-box-wide {
    background-color: white;
    margin: auto;
    text-align: center;
    min-height: 120px;
    max-width: 600px;
    margin-bottom: 30px;
    -webkit-box-shadow: 8px 8px 18px 3px rgba(0,0,0,0.18);
    -moz-box-shadow: 8px 8px 18px 3px rgba(0,0,0,0.18);
    box-shadow: 8px 8px 18px 3px rgba(0,0,0,0.18);
    display: flex;
    align-items: center;
} 

.skills-box-wide p {
    color: var(--main-green);
    margin:auto;
    padding:15px;
}


